body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carouselImg {
  position: relative;
  width: 100%;
  height: 500px;
}

.carouselTitle {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  color: white;
}

.carouselText {
  position: absolute;
  top: 250px;
  left: 0;
  width: 100%;
  color: white;
}

.img {
  width: 100%;
  height: 200%;
  object-fit: cover;
}

.learnMore {
  background-color: white; 
  position: relative;
  width: 100%;
  height: 400px;
}

.learnMoreImg {
  position: absolute;
  width: 500px;
  height: 300px;
  right: 150px;
  object-fit: cover;
}

.loginSection {
  width: 100%;
  height: 400px;
  background-image: url(./Resources/shutterstock_1302552622.jpg);
  background-size: cover;
  background-position-y: 10%;
  padding: 40px 0 0 120px;
}

.grayBox {
  background-color:dimgray;
  width: 530px;
  height: 300px;
  border-radius: 0.25em;
}

.contactImg {
  width: 40%;
  height: 1000px;
  float: right;
  margin-right: 10%;
  object-fit: fill;
}

.contactUsPg {
  width: 100%;
  height: 850px;
  margin-left: 110px;
  background-image: url(./Resources/Img_Contact.png);
  background-position: 600px;
  background-size: 38%;
  background-repeat: no-repeat;
}

.link {
  color: black;
  text-decoration-color: white;
  margin: 0 15px 0 15px;
  font-family: "Arial", sans-serif;
  letter-spacing: 2px;
  font-size: 70%;
}

.logo {
  width: 175px;
  height: auto;
  margin-right: 40%;
  margin-top: 15px;
}

.navContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px 0;
  border-bottom: 0.05em;
  border-bottom-style: solid;
  border-color: lightblue;
}

.blueBtn {
  background-color: aliceblue;
  border: none;
  padding: 10px 30px 10px 30px;
  border-radius: 0.25em;
  color: blue;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}

.input{
  background-color: aliceblue;
  border-color: lightblue;
  border-style: solid;
  border-radius: 0.25em;
  padding: 10px 10px 10px 10px;
  border-width: 1px;
  width: 100%;
}

.formBtn {
  width: 480px;
}

.singleInput {
  width: 92%;
}

.msgInput {
  height: 100px;
}

.inputRow {
  display: flex;
  justify-content: center;
  width: 500px;
}

.quarter {
  width: 25%;
  padding: 10px 40px 10px 0px;
}

.half {
  width: 50%;
  padding: 10px 40px 10px 0px;
}

.full {
  width: 500px;
  padding: 10px 40px 10px 0px;
}

.checkbox {
  appearance: none;
  background-color: aliceblue;
  margin: 0 0.5em 0 0;
  width: 1.15em;
  height: 1.15em;
  border: 1px solid lightblue;
  border-radius: 0.15em;
  transform: translateY(+0.075em);
}

.checkbox:checked {
  background-color: blue;
  border: 0.3em double lightblue;
}

label {
  font-family: "Arial", sans-serif;
  font-size: 70%;
  color: darkslategray;
}

.greyedLabel {
  color: grey;
  font-style: italic;
}

.maxLengthLabel {
  position: relative;
  left: 48%;
}

.text {
  font-family: "Arial", sans-serif;
  font-size: 70%;
  color: black;
  line-height: 200%;
  margin: 0;
}

.bold {
  font-weight: bold;
}

.contactUsText {
  width: 38%;
}

.title {
  font-family: "Arial", sans-serif;
  color: black;
  font-size: 120%;
  font-weight: normal;
  padding: 50px 0 10px 0;
  margin: 0;
}

.submitBtn {
  background-image: url(./Resources/Icon_Submit.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 5%;
  background-color: darkslateblue;
  border: none;
  padding: 15px 218px 15px 218px;
  margin: 10px 0 0 0;
  border-radius: 0.25em;
  color: aliceblue;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0 10px 0;
  border-top: 0.05em;
  border-top-style: solid;
  border-color: lightblue;
}

.footerText {
  font-family: "Arial", sans-serif;
  font-size: 70%;
  color: grey;
}

.footerUnderline {
  text-decoration: underline;
  margin-left: 4px;
  margin-right: 120px;
}

.container {
  margin: 0 150px 50px 150px;
}

.aboutUsImg {
  width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}

.subtitle {
  font-weight: 600;
  font-size: 100%;
}

ul {
  padding-left: 15px;
}

.center {
  text-align: center;
}

.textCols {
  display: flex;
  margin: 0 120px 0 120px;
}

.textCol {
  margin: 0 20px 0 20px;
}

.btnLink {
  background-color: slateblue;
  border: none;
  padding: 15px 30px 15px 30px;
  margin: 25px 0 60px 0;
  border-radius: 0.25em;
  color: aliceblue;
  font-family: "Arial", sans-serif;
  text-decoration: none;
  font-size: 70%;
  font-weight: bold;
}

.contactUsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}